<!doctype html>
<html>
	<head><title>{{ title }}</title></head>
	<body>
		<header>
			<h1>Page title: {{ title }}</h1>
			</header>
		<main>{{ content }}</main>
		<footer>
			<p>Page footer</p>
		</footer>
	</body>
</html>
