[tools]
node = "24.11.1"
pnpm = "10.23.0"

[env]
_.path = "node_modules/.bin"

[settings]
task_output = "keep-order"

# Grouped tasks
[tasks.publish]
description = "Publish package with npm and changesets"
tools = { npm = "latest" }
run = "changeset publish"
depends = ["build"]

[tasks.check]
description = "Runs all code quality checks (linting, types, dependencies)"
run = { tasks = ["check:lint", "check:types", "check:deps"] }

# Individual tasks
[tasks.dev]
description = "Start the dev environment"
run = "tsdown --watch ./src"

[tasks.format]
description = "Format all files"
run = "prettier --write ."

[tasks.build]
description = "Build package with tsdown"
run = "tsdown"

[tasks.test]
description = "Run functionality tests with vitest"
run = "vitest run"

[tasks."lint:eslint"]
description = "Lint source with eslint"
run = "eslint ."

[tasks."lint:tsc"]
description = "Run type checks"
run = "tsc --noEmit"

[tasks."lint:knip"]
description = "Audit source with knip"
run = "knip"

[tasks."lint:prettier"]
description = "Check code style with prettier"
run = "prettier --check ."
