[tools]
node = "24.11.1"
pnpm = "10.23.0"

[env]
_.path = "node_modules/.bin"

# Grouped tasks
[tasks.publish]
description = "Publish package with npm and changesets"
tools.npm = "latest"
run = "changeset publish"
depends = ["build"]

[tasks.ci]
description = "Runs all CI tasks"
run = { tasks = ["check:*", "build"] }

# Individual tasks
[tasks.build]
description = "Build package with tsdown"
run = "tsdown"

[tasks."check:tests"]
description = "Run functionality tests with vitest"
run = "vitest --run"

[tasks."check:lint"]
description = "Lint source with eslint"
run = "eslint ."

[tasks."check:types"]
description = "Run type checks"
run = "tsc --noEmit"

[tasks."check:deps"]
description = "Audit source with knip"
run = "knip"
