[tools]
node = "24.11.1"
pnpm = "10.21.0"

[env]
_.path = "node_modules/.bin"

# Grouped tasks
[tasks.publish]
description = "Publish package with npm and changesets"
tools.npm = "latest"
run = "changeset publish"
depends = ["build"]

[tasks.check]
description = "Runs all code quality checks (linting, types, dependencies)"
run = { tasks = ["check:lint", "check:types", "check:deps"] }

# Individual tasks
[tasks.build]
description = "Build package with tsdown"
run = "tsdown"

[tasks.test]
description = "Run functionality tests with vitest"
run = "vitest --run"

[tasks."check:lint"]
description = "Lint source with eslint"
run = "eslint ."

[tasks."check:types"]
description = "Run type checks"
run = "tsc --noEmit"

[tasks."check:deps"]
description = "Audit source with knip"
run = "knip"
