---
title: Page with layout
layout: layout2.vto
---

<p>This is a page that uses the second layout.</p>

<p>This is another paragraph.</p>
<p>This is another paragraph.</p>
<p>This is another paragraph.</p>

