Paired shortcode call:
{{ codeBlock }}
	This is some plaintext.
{{ /codeBlock }}

Paired shortcode call with argument:
{{ codeBlock 'html' }}
	<h1>Who puts tags in all uppercase anyway?</h1>
{{ /codeBlock }}

Paired shortcode call with page data:
{{ appendPageUrl }}
	<p>This is a paragraph</p>
	<p>And this is another one</p>
	<p>One more for luck</p>
{{ /appendPageUrl }}

Paired shortcode call with explicit page data:
{{ sectionWrap }}
	<p>The page url is: {{ page.url }}</p>
	<p>The date is: {{ page.date }}</p>
	<p>The Eleventy Version is: {{ eleventy.version }}</p>
	<p>The generator info is: {{ eleventy.generator }}</p>
{{ /sectionWrap }}
