Shortcode call:
{{ possumPosse }}

Shortcode call with argument:
{{ possumPosse '5 million' }}
{{ possumPosse 100 }}

Shortcode call with different data types:
{{ types 'hello world!', 100, true }}

Shortcode call with page data:
{{ pageUrlCompare page.url }}

