---
title: Page with layout
layout: page-layout.vto
---

<p>This is a page that uses a layout.</p>

<p>This is another paragraph.</p>
<p>This is another paragraph.</p>
<p>This is another paragraph.</p>

