<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			<h1>Page title: {{ title }}</h1>
		</header>
		<main>{{ content }}</main>
		<footer>
			<p>I am a footer, outside the layout</p>
		</footer>
	</body>
</html>
