name: CI

on:
  workflow_call:
  pull_request:
    branches: [main, beta]

jobs:
  main:
    runs-on: ubuntu-latest
    name: Check project
    steps:
      - uses: actions/checkout@v6

      - name: Install tools with mise
        uses: jdx/mise-action@v3.5.1

      - name: Install dependencies
        run: pnpm install

      - run: mise ci
