name: CI

on:
  workflow_call:
  pull_request:
    branches: [main, beta]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        type: ['test', 'lint', 'build']
    name: Run ${{ matrix.type }}
    steps:
      - uses: actions/checkout@v6

      - name: Install tools with mise
        uses: jdx/mise-action@v3.5.1

      - name: Install dependencies
        run: pnpm install

      - run: mise r ${{ matrix.type }}
